#calculatorBody {
    border: 1px solid black;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5px;
}

.active {
    padding: 10px;
}


